<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>TEACHER RAJ</title>
  <script src="https://unpkg.com/axios@0.2.1/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
  integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
  integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
  crossorigin="anonymous"></script>

</head>

    <div id="Acc">
     
      <br><br><br>
      Select New Slot to Add<br>
      <select class="col-sm-3" v-model='value' class="form-control" >
        <option  v-for="x in available" :value="x" >{{x}}</option>
      </select><br>
      <button type="button"  class="btn btn-warning but" @click="add()">Add Slot</button>
      <br>
      Slots Added Already
      <div v-for="i in list">
        {{i}} &nbsp;&nbsp;

      </div>
    

    </div>
    <br>
  </body>
  <script>
    const sal=new Vue({
        el:"#Acc",
        data:{
          value:'',
            available:['1-2','2-3','3-4','4-5','5-6','6-7','7-8','9-10','10-11','11-12','12-13','14-15','15-16','16-17','17-18','18-19','19-20','20-21','21-22','22-23','23-24'],
            list:[],
            
        },
        created:function(){
            this.load();
        },
        methods:{
            load:function(){
                var app=this;
                axios.get('http://localhost:3989/raj/info')
                .then(function(Response){
                    Acc.list=Response;
                    for(var i=0;i<Response.length;i++){
                  
                      var index = app.available.indexOf(Response[i]['slot']);
                     
                      if (index > -1) {
                        var z=app.available.splice(index, 1);
                        app.list.push(z[0]);
                      }
                    }
                })      
              },add(){
                console.log(this.value);
                  $.post('raj/add',{
                    slot:this.value,
                    
                  })
              },
          },
  
            
        })
        
    
</script>
  
  </html>